# Ignore thư mục chứa plugin và module đã tải về
.terraform/

# Ignore file trạng thái 
*.tfstate
*.tfstate.backup

# Ignore file crash log nếu Terraform bị lỗi
crash.log

# Ignore override files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
